/**
 * @Author: MinonHeart
 * @Author URI: http://me.hub.moe
 */


/* ----------------------------------------------------- *
 *  Uncorrelated
/* ----------------------------------------------------- */

/* ---------------------- [Reset] ---------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s,
samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby,
section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
strong { font-weight: bold; }
table { border-collapse: collapse; border-spacing: 0; }

/* ---------------------- [Other] ---------------------- */
body {
    line-height: 0;
    font-family: "Helvetica Neue", "Segoe UI", Helvetica, Arial, "Microsoft JhengHei", sans-serif;
    background-color: transparent;
}
h1 {
    margin: 24px 0;
    color: #333;
    line-height: 1;
    text-align: center;
    font-size: 32px;
    font-weight: normal;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
a {
    color: #21B3A3;
    text-decoration: none;
    border-bottom: 1px dotted #555;
}
a:hover {
    color: #e8554e;
}
#wrapper {
    margin: 0 auto;
    width: 100%;
    min-width: 640px;
    max-width: 860px;
}
#footer {
    margin: 15px 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 2;
    text-align: center;
}



/* ----------------------------------------------------- *
 *  Special
/* ----------------------------------------------------- */
#container {
    width: 100%;
    height: auto; /*Demo Only*/
}
#media-source {
    width: 100%;
    height: 100%;
    background-color: #000;
}
#media-source::-webkit-media-controls {
    display: none;
}



/* ----------------------------------------------------- *
 *  Body
/* ----------------------------------------------------- */
#html5-controls {
    position: relative;
    left: 0;
    bottom: 0;
    opacity: 1;
    width: 100%;
    height: 64px;
    background-color: rgba(0,0,0,0.9);
    -webkit-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    -moz-transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
    transition: opacity .25s cubic-bezier(0.0,0.0,0.2,1);
}
#html5-controls .circle {
    width: 42px;
    height: 42px;
    border: 2px solid #6b6b6b;
    border-radius: 50%;
    cursor: pointer;
}
#play-button {
    position: absolute;
    margin-top: 12px;
    margin-left: 12px;
}
#play-button .play {
    margin-top: 12px;
    margin-left: 15px;
    border-top: 9px solid transparent;
    border-left: 16px solid #6b6b6b;
    border-bottom: 9px solid transparent;
}
#play-button:hover .play {
    border-left-color: #aeaeae;
}
#play-button .pause {
    display: none;
}
#play-button .bar-1, #play-button .bar-2 {
    width: 5px;
    height: 18px;
    background-color: #6b6b6b;
}
#play-button:hover .bar-1, #play-button:hover .bar-2 {
    background-color: #aeaeae;
}
#play-button .bar-1 {
    margin-top: 12px;
    margin-left: 14px;
}
#play-button .bar-2 {
    margin-left: 24px;
    margin-top: -18px;
}
#progress-area {
    position: absolute;
    max-width: 100%;
    width:100%;
    height:0;
    border-top: 3px solid rgba(119,119,119,0.8);
    border-bottom: 3px solid rgba(119,119,119,0.8);
    cursor: pointer;
}
#progress-area .buffer {
    max-width: 100%;
    width:0;
    height: 0;
    margin-top: -3px;
    border-top: 3px solid rgba(119,119,119,1);
    border-bottom: 3px solid rgba(119,119,119,1);
}
#progress-area .complete {
    max-width: 100%;
    width: 0;
    height: 6px;
    margin-top: -6px;
    background-color: #cc181e;
}
#progress-area .dropper {
    position: relative;
    width: 0;
    height: 0;
}
#progress-area:hover .dropper {
    width: 4px;
    height: 4px;
    margin-top: -10px;
    border: 5px solid #eaeaea;
    border-radius: 50%;
    background-color: #cc181e;
    margin-left: -7px;
}
#progress-area .dropper:hover {
    background-color: #aeaeae;
    cursor: pointer;
}
#time-area {
    position: absolute;
    margin-top: 26px;
    margin-left: 80px;
    color: #bbb;
    font-size: 18px;
    line-height: 18px;
}
#zoom-area {
    float: right;
    margin-top: 12px;
    margin-right: 12px;
}
#zoom-area .icon {
    width: 16px;
    height: 16px;
    margin-top: 11px;
    margin-left: 11px;
    border: 2px solid #6b6b6b;
    background-color: transparent;
}
#zoom-area:hover .icon {
    border: 2px solid #aeaeae;
}
#zoom-area .button {
    width: 11px;
    height: 11px;
    margin-top: 5px;
    background-color: #6b6b6b;
}
#zoom-area:hover .button {
    background-color: #aeaeae;
}
#speaker-area {
    float: right;
    margin-top: 12px;
    margin-right: 12px;
}
#speaker-area .icon-1 {
    position: absolute;
    width: 4px;
    height: 10px;
    margin-top: 16px;
    margin-left: 12px;
    background-color: #6b6b6b;
}
#speaker-area:hover .icon-1 {
    background-color:#aeaeae;
}
#speaker-area .icon-2 {
    position: absolute;
    height: 10px;
    margin-top: 12px;
    margin-left: 18px;
    border-top: 4px solid transparent;
    border-right: 8px solid #6b6b6b;
    border-bottom: 4px solid transparent;
}
#speaker-area:hover .icon-2 {
    border-right: 8px solid #aeaeae;
}
#speaker-area .icon-3 {
    position: absolute;
    width: 6px;
    height: 6px;
    margin-top: 16px;
    margin-left: 20px;
    border: 2px solid #6b6b6b;
    border-radius: 50%;
}
#speaker-area:hover .icon-3 {
    border: 2px solid #aeaeae;
}
#sound-area {
    display: none;
    width: 46px;
    height: 136px;
    margin-top: -194px;
    background-color: rgba(0,0,0,0.6);
}
#sound-area .bar {
    position: absolute;
    width: 10px;
    height: 110px;
    margin-top: 14px;
    margin-left: 18px;
    background-color: #cc181e;
    border-top: 3px solid #cc181e;
    border-bottom: 3px solid #cc181e;
    cursor: pointer;
}
#sound-area .slider {
    position: absolute;
    width: 6px;
    height: 4px;
    margin-left: -3px;
    border-width: 3px 5px;
    border-style: solid;
    border-color: #eaeaea;
    background-color: #cc181e;
    cursor: pointer;
}
#sound-area .slider:hover {
    background-color: #aeaeae;
    cursor: pointer;
}
.clear {
    clear: both;
}

/* ----------------------------------------------------- *
 *  :hover ( NOT ALL )
/* ----------------------------------------------------- */
#html5-controls,
#play-button:hover,
#play-button:hover .play,
#play-button:hover .bar-1,
#play-button:hover .bar-2,
#zoom-area:hover,
#zoom-area:hover .icon,
#zoom-area:hover .button,
#speaker-area:hover .icon-1,
#speaker-area:hover .icon-2,
#speaker-area:hover .icon-3 {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
#play-button:hover,
#zoom-area:hover,
#speaker-area:hover #speaker-button {
    border: 2px solid #aeaeae;
    box-shadow: inset 0 0 10px 2px rgba(160,160,160,0.6);
}
